.affichage {
    background-color: lightblue;
    border: 1px black solid;
    color: grey;
    height: 150px;
}

aside {
    width: 100vh;
}

.block {
    background-color: lightgrey;
    border: 1px blue solid;
    height: 50px;
}

.container {
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}