.affichage {
    background-color: lightblue;
    border: 1px black solid;
    color: grey;
    height: 150px;
}

aside {
    width: 100vh;
}

.block1 {
    background-color: lightslategray;
    border: 1px blue solid;
    height: 50px;
    text-align: center;
}

.block2 {
    background-color: lightcoral;
    border: 1px blue solid;
    height: 50px;
    text-align: center;
}

.block3 {
    background-color: lightskyblue;
    border: 1px blue solid;
    height: 50px;
    text-align: center;
}

.block4 {
    background-color: lightblue;
    border: 1px blue solid;
    height: 50px;
    text-align: center;
}

.container {
    /*text-align: center;*/
    /*justify-content: center;*/
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}